[submodule "app"]
	path = app
	url = git@github.com:Rate-My-Bistro/app.git
[submodule "server"]
	path = server
	url = git@github.com:Rate-My-Bistro/server.git
[submodule "crawler"]
	path = crawler
	url = git@github.com:Rate-My-Bistro/crawler.git
[submodule "control"]
	path = control
	url = git@github.com:Rate-My-Bistro/control.git
